main {
    float: left;
    width: 75%;
    height: 100vh
    ;
}

aside {
    float: right;
    width: 25%;
    height: 100vh;
}

footer {
    clear: both;
    position: fixed;
    width: 100%;
    bottom: 0;
}